.wrapper {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.container {
  min-width: 1000px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 2, 49);
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
}

h1 {
  color: white;
}

input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  padding: 5px;
}

.main-table {
  color: white;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

.main-table td,
.main-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.main-table tr:nth-child(even) {
  background-color: #04aa6d;
  color: black;
}

@media screen and (max-width: 600px) {
  .main-table {
    width: 100%;
  }
}
